body {
    font-family: sans-serif;
    background: #ffd1f0;
}

h1 {
    text-align: center;
    font-weight: 300;
}

.tulisan_login {
    text-align: center;
    text-transform: uppercase;
}

.kotak_login {
    width: 350px;
    background:rgba(0, 0, 0, 0.24);
    margin: 80px auto;
    padding: 30px 20px;
    color:white;
}

label {
    font-size: 11pt;
}

.form_login {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 11pt;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.24);
    color: white;
}

.tombol_login {
    background:	#663399;
    color: white;
    font-size: 11pt;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}

.link {
    color: #232323;
    text-decoration: none;
    font-size: 10pt;
}