body {margin: 0;padding: 0; font-family: sans-serif;}

html {margin: 0;padding: 0;}

.header {margin: 20px; color: white; background: rgb(94, 250, 94); height: 70px;}

.logo {float: left;}

.navbar {float: right;}

.navbar ul{list-style: none; padding-top: 10px;}

.navbar ul li{display: inline; margin: 10px;}

.navbar ul li a{text-decoration: none; color: white; }

.navbar ul li a:hover {border-bottom: 2px solid white;}

.gambar {width: 90%; display: grid; grid-template-columns: 1fr 1fr 1fr; margin:auto;}

.gambar .foto img{width: 300px;}

.foto {box-shadow: 0 0 5px black;margin:10px; text-align: center; }

.foto a{border: 1px solid: rgb(94, 250, 94); padding:10px; color: white; background:rgb(94, 250, 94); text-decoration: none; border-radius: 20px; cursor: pointer;}

.footer {text-align: center; margin: 20px; color: white; background: rgb(94, 250, 94); height: 70px;}

.footer p{padding-top:25px;}

.footer a{text-decoration: none; color: white; }